header{
	text-align: center;
	font-size: 2em;
}
blockquote{
	color:orange;
	text-align: left;
}
h2{
	text-align: center;
	font-size:1.6em;
	color:red;
}
code{
	position:absolute;
	
	color:red;	
}
.container{
	width:800px;
}
